<template name="room">
    {{#if eq status GameRooms.STATUS_OPEN}}
        {{> roomGamePanel}}
    {{/if}}
    {{#if eq status GameRooms.STATUS_CLOSED}}
        This room has been closed
    {{/if}}
</template>

<template name="roomGame">
    {{#if eq status GameRooms.STATUS_STARTED}}
        {{> roomCards}}
    {{/if}}
    {{#if eq status GameRooms.STATUS_CLOSED}}
        This room has been closed
    {{/if}}
    {{> loseGame}}
</template>

<template name="roomCards">
    {{#if inGame}}
        <label class="ui label mbs"> Use your arrow keys (&larr; &uarr; &rarr; &darr;) to move. </label>
    {{/if}}
    <div class="ui cards game-area">
        {{#each getPlayersForCards}}
            <div class="ui{{#if eq _id getLoggedInId}} green{{/if}} card game-box">
                <div class="extra content">
                    {{#if eq _id getLoggedInId}}
                    <span class="black"><i class="ui top aligned image text fa fa-gamepad teal"></i> <b>{{getName}}</b></span>
                    {{else}}
                    <i class="ui top aligned image text {{#if status.online}}fa fa-plug teal{{else}}fa fa-sign-out{{/if}}"></i>
                    {{getName}}
                    {{/if}}
                    <div class="right floated author">
                        {{> roomCardsPoints user=. roomId=../_id}}
                    </div>
                </div>
                {{> game user=. roomId=../_id}}

            </div>
        {{/each}}
    </div>
</template>

<template name="roomCardsPoints">
    <div class="ui label mini">
        {{#if getPoints}}{{getPoints}} Points{{/if}}
    </div>
</template>

<template name="roomGamePanel">
    <div class="ui segment" style="min-height: 20rem;">
        <a class="ui ribbon black label">{{name}}</a>
        <div class="ui top right attached label">
            {{> uniAnyJoinButton extendContext joiningName='players'}}
        </div>
        {{#if canEdit}}
        <div class="mtm">
            {{> uniAnyJoinSearchUsers joiningName='players' subjectId=_id subjectName='gameRooms' defaultTemplateOnNoResult='uniAnyJoinPossessorsList'}}
        </div>
        {{/if}}

        <div class="ui divided very relaxed animated list">
            <div class="ui teal dividing header">
                <i class="fa fa-gamepad"></i>
                <div class="content">
                    Players
                </div>
            </div>
            {{#each getPlayers}}
                {{> roomPlayer}}
            {{/each}}
        </div>
        <div class="ui bottom right attached label">
            {{#if canEdit}}
                <div class="ui huge buttons">
                    <div class="ui button orange js-cancel">Cancel</div>
                    <div class="or"></div>
                    <div class="ui teal button js-start">
                        Start Game
                        <i class="right arrow icon fa fa-arrow-right"></i>
                    </div>
                </div>
                {{else}}
                Waiting to Start
            {{/if}}
        </div>

    </div>

</template>

<template name="roomPlayer">
    <div class="item">
        <i class="ui top aligned avatar image text {{#if status.online}}fa fa-plug teal{{else}}fa fa-sign-out{{/if}}"></i>
        <div class="content">
            <div class="header">{{getName}}</div>
            {{#if eq _id ../ownerId}} <i class="description" style="font-size: 80%">Owner</i>{{/if}}
        </div>
    </div>
</template>

<template name="roomDuel">
    <div class="mbl">
        <a href="{{pathFor 'room.new'}}" class="ui secondary fluid button massive">
            <i class="fa fa-gamepad icon"></i> Start game
        </a>
    </div>

    <div class="ui two column grid">
        <div class="column">
            <div class="ui horizontal segment">
                <div class="ui teal dividing header">
                    <i class="fa fa-gamepad icon"></i>
                    <div class="content">
                        Open games
                    </div>
                </div>
                {{> roomsList status=GameRooms.STATUS_OPEN}}
            </div>
        </div>
        <div class="column">
            <div class="ui horizontal segment">
                <div class="ui teal dividing header">
                    <i class="fa fa-gamepad icon"></i>
                    <div class="content">
                        Games in progress
                    </div>
                </div>
                {{> roomsList status=GameRooms.STATUS_STARTED}}
            </div>
        </div>
    </div>
</template>

<template name="loseGame">
    <div class="ui basic modal js-lose-game">
        <i class="close icon"></i>
        <div class="header">
            Thanks for playing!
        </div>
        <div class="content">
            <div class="image">
                <i class="dashboard icon"></i>
            </div>
            <div class="description">
                <p>Your score is: {{getGamePoints}}</p>
                <p>Your daily score is: {{getAllUserPoints}}</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <a href="{{pathFor 'leaderboard'}}" class="ui red basic inverted button">
                    <i class="remove icon"></i>
                    Go to leaderboard
                </a>
                <div class="ui green basic inverted button">
                    <i class="checkmark icon"></i>
                    Go back to game
                </div>
            </div>
        </div>
    </div>
</template>