
<template name="roomNew">
    <div class="ui grid">
        <div class="seven wide column">
            <div class="ui segment" style="min-height: 15rem;">
                <a class="ui ribbon black label">Single Game</a>
                <div class="mtl tac pal">
                    <div class="maa">
                        <div class="ui right labeled icon positive button js-start-game-alone">
                            <i class="right arrow icon"></i>
                            Start Game Alone
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="one wide column"></div>
        <div class="seven wide column">
            <div class="ui segment" style="min-height: 15rem;">
                <a class="ui ribbon black label">Duel</a>
                <div class="mtl">
                    {{> quickForm collection='GameRooms' type='insert' id='insertGameRoom' omitFields='_joiningPolicy_players'}}

                </div>
            </div>
        </div>
    </div>
</template>