<template name="roomsList">
    <div class="ui divided very relaxed animated list">
        {{#each getRooms}}
            {{> roomsListItem}}
        {{/each}}
    </div>
</template>

<template name="roomsListItem">
    <a href="{{pathFor 'room'}}" class="item">
        <i class="star icon"></i>
        <div class="content">
            <div class="header">{{name}}</div>
            Players: {{players.length}}
        </div>
    </a>
</template>