<template name="layout">
    <div class="wrapper on-route-{{getRouteNameForClass}} fuelux">
        <header class="game-header">
            {{> header}}
        </header>
        <main class="main-container container-fluid {{listingTypeClass}}">
            <div class="page-container">
                {{#if loading}}
                    {{> loadingView}}
                {{/if}}
                <div class="modal loading-box {{#if loading}}show{{else}}fade{{/if}}">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <img src="/images/loader.gif" class="mrm tal vam loader"/>
                            <span class="tac vam">{{i18n loadingMessageToken}}</span>
                        </div>
                    </div>
                </div>
                {{#if Template.subscriptionsReady}}
                    {{#if currentUser}}
                        {{> pageSidebar}}
                    {{/if}}
                    <div class="page-content">
                        <div class="page-body">
                            {{#if currentUser}}
                                <span class="mlm">{{> yield}}</span>
                            {{else}}
                                <div class="col-md-12">
                                    {{> atForm}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{else}}
                    {{> loadingView}}
                {{/if}}
            </div>
        </main>
    </div>
    <section class="alerts game-alerts">
        <div class="row">
            <div class="col-md-10 col-sm-offset-1">
                {{> toolsError place="header"}}
                {{> toolsSuccess place="header"}}
                {{> toolsNotif place="header"}}
            </div>
        </div>
    </section>
    {{> footer}}
</template>


<head>
    <title>Vazco Threes</title>
    <meta charset="utf-8">
</head>

<template name="loadingView">
    <div class="ui segment">
        <div class="ui active inverted dimmer">
            <div class="ui large text loader">
                Loading
            </div>
        </div>
        <br><br>
        <br><br>
        <br><br>
    </div>
</template>

<template name="pageSidebar"></template>

<template name="header">
    <div class="ui fixed transparent inverted main menu">
        <div class="header item"><img class="pull-left tac vam small-logo" src="/logo_36px.jpg"/></div>
        <a class="item" href="{{pathFor 'main'}}">Home</a>
        {{#if currentUser}}
            <a class="item" href="{{pathFor 'room.duel'}}">Duel</a>
            <a class="item" href="{{pathFor 'leaderboard'}}">Leaderboard</a>

            <div class="right menu">
                <div class="ui simple invitations-dropdown dropdown item">
                    <div class="ui red label">{{getInvitationsCount}}</div> Invitations
                    <i class="dropdown icon"></i>
                    {{> playersInvitations}}
                </div>
                {{> atNavButton}}
            </div>
        {{/if}}
    </div>
</template>

<template name="footer">
    <div class="footer">
        Vazco.eu
    </div>
</template>

<template name="playersInvitations">
<div class="menu uni-any-join-list">
    {{#if Template.subscriptionsReady}}
            {{#each getInvitations}}
                {{> playersInvitationsItem}}
            {{else}}
                <div class="list-menu-items uni-any-join-no-items">{{i18n 'anyJoin.noInvitations'}}</div>
            {{/each}}
    {{else}}
        <div class="uni-any-join-loading">{{i18n 'anyJoin.loading'}}</div>
    {{/if}}
</div>
</template>

<template name="playersInvitationsItem">
    <div class="item">
        <div class="ui grid sixteen wide column">
            <div class="ui ten wide column "><p>{{getSubjectTitle}}</p></div>
            <div class="ui six column wide">
                <span class="ui right teal label  mini js-game-join-accept-invitation">Ok</span>
                <span class="ui right red label mini js-uni-any-join-resign">Reject</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>