<template name="Leaderboard">
    <div class="ui grid">
        <div class="ten wide column">
            <table class="ui table inverted teal">
                <thead>
                <tr>
                    <th>Points</th>
                    <th>User Name</th>
                </tr>
                </thead>
                <tbody>
                {{#each getUsers}}
                    <tr>
                        {{#if eq _index 0}}
                            <td class="collapsing">
                                <div class="ui large horizontal statistic">
                                    <div class="value">
                                        <i class="trophy icon"></i> <label>{{bestGame}}</label>
                                    </div>
                                </div>
                            </td>
                            <td> <h1 class="black">{{getName}}</h1></td>
                        {{/if}}
                        {{#if eq _index 1}}
                            <td class="collapsing">
                                <div class="ui large horizontal statistic">
                                    <div class="value">
                                        {{bestGame}}
                                    </div>
                                </div>
                            </td>
                            <td> <h2 class="black">{{getName}}</h2></td>
                        {{/if}}
                        {{#if gte _index 2}}
                            <td class="collapsing">
                                <div class="ui horizontal statistic">
                                    <div class="value">
                                        {{bestGame}}
                                    </div>
                                </div>
                            </td>
                            <td> <h3 class="black">{{getName}}</h3></td>
                        {{/if}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="two wide column"></div>
        <div class="four wide column">
            <div class="ui circular segment">
                <div class="ui huge horizontal statistic">
                    <div class="value">
                        <div><i class="wait icon"></i>{{> contestCountdown}}</div>
                    </div>
                </div>
                <h3>To the End the contest</h3>
            </div>


        </div>
    </div>

</template>

<template name="contestCountdown">
    <div class="js-countdown"></div>
</template>