<template name="login">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">{{i18n 'site.login'}}</div>
            <div class="panel-body">
                <div class="center-block">
                        <form id="login-form" action="action" class="form-horizontal">
                            <div class="input-group mvl">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input type="text" placeholder="{{i18n 'admin.email_or_username'}}" id="login-email" class="form-control"/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                <input type="password" placeholder="{{i18n 'admin.password'}}" id="login-password" class="form-control"/>
                            </div>
                            <div class="pull-right">
                                <input type="submit" class="btn btn-primary pull-right mtm" id="login-button" value="Sign in"/>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</template>
