<template name="main">
    <a href="{{pathFor 'room.new'}}" class="ui secondary fluid button massive">
        <i class="fa fa-gamepad icon"></i> Start game
    </a>
    <div class="ui teal dividing header">
        <i class="fa fa-gamepad icon"></i>
        <div class="content">
            Games in progress
        </div>
    </div>
    {{> mainRooms}}
</template>

<template name="mainRooms">
    <div class="ui cards game-area">
        {{#each getRooms}}
            {{> mainRoomCards}}
        {{/each}}
    </div>
</template>

<template name="mainRoomCards">
    {{#each getPlayersForCards}}
        <div data-room-id="{{../_id}}" class="ui card game-box">
            <div class="extra content">
                <i class="ui top aligned image text"></i>
                <b>{{getName}}</b> @ {{../name}}
                <div class="right floated author">
                    {{> roomCardsPoints user=. roomId=../_id}}
                </div>
            </div>
            {{> game user=. roomId=../_id blockControl=1}}
        </div>
    {{/each}}
</template>
