<head>
  <title>Vazco</title>
</head>


<template name="gameNext">
    <div class="next-block">
        <div class="tile">Next</div>
    </div>
</template>

<template name="game">
  <div class="game">
    <div class="board js-game-board">
      {{#each times 4}}
      <div class="row">
        {{#each times 4}}
          <div class="tile-container"></div>
        {{/each}}
      </div>
      {{/each}}
        <div class="ui dimmer modals transition{{#if disabled}}active{{/if}} half js-overlay">
            <p class="js-points"></p>
        </div>
    </div>
  </div>
</template>


<template name="tile">
  <div class="tile" data-coords="{{ row }}{{ col }}">{{ tile }}</div>
</template>
