@blue: #6e84ff;
@dark-green: #B6D9D9;
@gray: #4d5265;
@light-gray: #f1f1f1;
@light-green: #b1cac3;
@red: #ff3f49;
@yellow: #fff26a;
//#062A5C

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

a {
  text-decoration: none;
}

body {
  background: white;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.transition(@transition: all 0.3s ease) {
  transition: @transition;
  -webkit-transition: @transition;
}

.game-menu-box {
  margin-top: 20px;
  margin-left: -10px;
  float: left;
  .next-block {
    .tile {
      height: 50px;
      font-size: 16px;
      width: 40px;
      line-height: 50px;
      &.bonus:before {
        content: '+';
      }
    }
  }
}
h1, h2, h3 {
  color: #000000;
}

/******************** MAIN COMPONENTS ****************************************/

.game {
  margin: 0 auto;
  max-width: 400px;
  position: relative;

  .board {
    background: @light-green;
    overflow: hidden;
    padding: 12px 16px;

    .row {
      overflow: hidden;
      text-align: center;
      margin: 0;

      .tile-container {
        background: @dark-green;
        box-shadow: 0px 8px @dark-green;
        float: left;
        height: 110px;
        margin: 10px 6px;
        width: 80px;
      }
    }
  }

  .new {
    background: @light-green;
    box-shadow: 0px 8px @dark-green;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    left: -130px;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    top: 152px;
    width: 108px;

    &:hover {
      background: #999;
      box-shadow: 0px 8px #777;
      color: #FFF;
      cursor: pointer;
    }
  }
}

.footer {
  font-weight: 300;
  margin: 30px 0 20px;
  text-align: center;

  a {
    font-weight: 400;
  }
}

/******************** INDIVIDUAL TILES ***************************************/

.tile {
  font-size: 42px;
  height: 110px;
  line-height: 110px;
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 1;

  &.red {
    background: @red;
    box-shadow: 0px 8px darken(@red, 20%);
    color: #FFF;
  }

  &.blue {
    background: @blue;
    box-shadow: 0px 8px darken(@blue, 20%);
    color: #FFF;
  }

  &.number, &.bonus {
    background: #FFF;
    box-shadow: 0px 8px @yellow;
    color: #000;
  }
}


.dynamicModal .modal {
  display: block !important;
}

.game-alerts {
  position: fixed;
  top: 0;
}
.wrapper{
  .ui {
    &.ribbon.label {
      font-size: 18px;
    }
    &.text.teal {
      color: #00b5ad;
    }
    &.cards > .card.game-box {
      width: 400px;
    }
    &.label.mbs {
      margin-bottom: 5px;
      margin-left: 70px;
    }
    .dropdown {
      .menu {
        &.uni-any-join-list .item {
          width: 300px;
        }
        .uni-any-join-no-items {
          color: @gray;
        }
      }
      &.invitations-dropdown{
        width: 230px;
      }
    }
    &.teal {
      &.header{
        color: #01E188;
      }
    }
    .black {
      color: #000000;
    }

  }
  .secondary.button.massive {
    background-color: #1D2A3B;
  }

  .game-header {
    .ui.inverted.menu {
      background-color: #1D2A3B;
      .header.item {
        margin: 0;
        padding: 0;
      }
    }

  }
  .page-container {
    margin-top: 45px;
  }
  .ui.dimmer.modals.active.half {
    background: rgba(0, 0, 0, 0.4);
  }
}




